/* Navigation */
*{
    box-sizing: border-box;
}
.container {
    max-width: 1383px;
    width:90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
@font-face {
    font-family: 'Poppins Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face { 
    font-family: 'Poppins black';
    src: url(../fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Poppins Italic';
    src: url(../fonts/Poppins-Italic.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'FiraGo Medium';
    src: url(../fonts/FiraGO-Medium.ttf);
}
@font-face {
    font-family: 'FiraGo Regular' ;
    src: url(../fonts/FiraGO-Regular.ttf);
}
@font-face {
    font-family: 'FiraGo Bold';
    src: url(../fonts/FiraGO-Bold.ttf);
}
@font-face {
    font-family: 'Andada Pro';
    src: url(../fonts/AndadaPro-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Andada Pro Italic';
    src: url(../fonts/AndadaPro-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'malayalam mn';
    src: url(../fonts/malayalam-mn.ttf);
}
header {
    margin-top: 32px;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav {
    display: flex;
    padding-top: 20px;
    font-family: 'Poppins Medium';
}
.home, .shop, .about, .blog {
    padding-right: 53.55px;
}
.home:hover, .shop:hover, .about:hover, .blog:hover, .contact:hover{
    color: #0052CC;
    text-decoration: underline;
}
.logo-wrapper, .nav{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.user-icon, .shopping-cart{
    padding: 16px 31px;
}
/* Blue search bar  */
.blue-background{
    width: 1441px;
    height: 62px;
    background-color: #0052CC;
    margin-top: 52px;
}
.container-2 {
    max-width: 1383px;
    width:90%;
    margin: 0 auto;
    display: flex;
}
.hamburger-menu{
    padding: 22px 14px 17px 0px;
    position: relative;
 
}
.categories{
    padding: 26px 0px 17px 14px;
    font-family:'Poppins Medium';
    color: #FFFFFF;
    position: relative;
}
.search-input{
    display: flex;
    align-items: center;
    padding: 11px 206px 10px 48px;
    margin: 10px 0px 11px 300px;

    font-family:'Poppins Medium';
    border-color: #FFFFFF;
    border-radius: 6px;
}
.search-icon{
    margin-top: 21px;
    padding-left: 453px;
    position: relative;
}
.span-search-icon{
    position: absolute;
}
.home-title{
    display: flex;
    justify-content: center;
    margin-top: 86px;
    
    font-family: 'Poppins Medium';
    font-size: 20px;
    text-transform: capitalize;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin: 81px 0px 0px 60px;
}
.phone-1{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 1.png);
    background-repeat: no-repeat;
    background-position: top;
}
.phone-1:hover{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 1\ back.png);
    background-repeat: no-repeat;
    background-position: top;  
}
.phone-2{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 2.png);
    background-repeat: no-repeat;
    background-position: top;
}
.phone-2:hover{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 2\ back.png);
    background-repeat: no-repeat;
    background-position: top;
}
.phone-3{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 3.png);
    background-repeat: no-repeat;
    background-position: top;
}
.phone-3:hover{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 3\ back.png);
    background-repeat: no-repeat;
    background-position: top;
}
.phone-4{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 4.png);
    background-repeat: no-repeat;
    background-position: top;
}
.phone-4:hover{
    width: 260px;
    height: 340px;
    background: url(../img/CARD\ 4\ back.png);
    background-repeat: no-repeat;
    background-position: top;
}
.Galaxy-A3 {
    margin-left: 75px;
}
.Galaxy-A3, .Iphone-8, .Iphone-X, .Galaxy-S9{
    margin-bottom: 233px;
}
.Galaxy-A3, .Iphone-8, .Iphone-X {
    margin-right: 58px;
    display: inline-block;
}
.Galaxy-S9 {
    display: inline-block;
}
.model, .price, .date, .see-more{
    display: inline-block;
}
.model-price{
    padding: 15px 0px;
    border-bottom: 1px solid #3F69FF;
}
.date-more {
    padding-top: 15px;
}
.model{
    padding-right: 80px;
}
.date{
    padding-right: 102px;
}
.model-2, .price-2, .date-2, .see-more-2{
    display: inline-block;
}
.model-2{
    padding-right: 92px;
}
.date-2{
    padding-right: 68px;
}
.model-3, .price-3, .date-3, .see-more-3{
    display: inline-block;
}
.model-3{
    padding-right: 130px;
}
.date-3{
    padding-right: 67px;
}
.model-4, .price-4, .date-4, .see-more-4{
    display: inline-block;
}
.model-4{
    padding-right: 124px;
}
.date-4{
    padding-right: 63px;
}
.model, .model-2, .model-3, .model-4 {
    font-family:'Poppins Medium';
    font-size: 16px;
}
.price, .price-2, .price-3, .price-4{
    font-family:'Poppins Italic';
    font-size: 14px;
    text-transform: capitalize;
    color: #373737;
}
.date, .date-2, .date-3, .date-4{
    font-family: 'Poppins Medium';
    font-size: 12px;
    text-transform: capitalize;
    color: #6A6A6A;    
}
.see-more, .see-more-2, .see-more-3, .see-more-4{
    font-family: 'Poppins Medium';
    font-size: 12px;
    text-transform: capitalize;
}
/* footer */

.logo-smart-shop{
    width: 122px;
    height: 36px;
}
.container-4{
    max-width: 1383px;
    width: 100%;
    margin: 0 auto;
}
.footer-blue-background {
    position: absolute;
    width: 1441px;
    height: 249px;
    background-color: #0052CC;
}
.logo-footer{
    margin: 44px 0px 0px 83px;
}
.icons{
    display: inline-block;
    margin: 99px 0px 0px 83px;
}
.list-footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: -155px;
    margin-left: 274px;

    font-family:'Poppins Medium';
    color: #FFFFFF;

}
.padding-bottom{
    padding-bottom: 13px;
}
.insta-icon{
    margin-right: 17px;
}
.li-icon{
    margin-right: 14px;
}
.input-mail{
    padding: 12px 123px 10px 18px;
    margin-bottom: 26px;
    font-family: 'Poppins-Medium';
    text-transform: capitalize;
    border-radius: 6px;
    border-color: #FFFFFF;
}
.vector{
    display: flex;
    margin-left: 258px;
    margin-top: -86px;
}
.who-we-are{
    width: 817px;
    height: 263px;
    margin: 58px 0px 0px 115px;
    display: inline-block;
    position: absolute;

}
.about-title{
    padding: 0px 0px 45px 525px; 
    font-family: 'Poppins Bold';
    font-size: 24px;
    color: #0052CC;
}
.smart-shop-black{
    font-weight: bold;
}
.two-phones{
    display: inline-block;
    margin: 81px 0px 0px 1131px;
    position: relative;
}
.cutomer{
    width: 1218.46px;
    height: 129.4px;
    margin: 87px 0px 0px 122px;
}
.about-title-2{
    padding-left: 418px;
    padding-bottom: 39px;
    font-family: 'Poppins Bold';
    font-size: 24px;
    color: #0052CC; 
    text-transform: capitalize;  
}
.about-text-2{
    text-align: center;
}
.core-values {
    width: 759.25px;
    height: 111.46px;
    margin: 65px 0px 48px 342px;
    display: flex;
    justify-content: space-around;
}
.about-title-3{
    margin: 92px 0px 0px 603px;
    font-family: 'Poppins Bold';
    font-size: 24px;
    color: #0052CC; 
    text-transform: capitalize;
}
.poppins-italic{
    padding-top: 22px;
    font-family:'Poppins Italic';
    font-weight: bold;

}
.blog-title{
    margin: 41px 0px 0px 83px;
    font-family:'Poppins Bold';
    font-size: 50px;
}
.blog-section-1{
    width: 1252px;
    height: 321px;
    margin: 41px 0px 0px 73px;
    display: flex;
}
.blog-second-title{
    width: 615px;
    height: 114px;
    padding-top: 30px;
    padding-left: 67px;

    font-family:'Poppins Italic';
    font-size: 35px;
}
.blog-text {
    width: 579px;
    height: 90px;
    margin: 35px 0px 0px 64px;

    font-family: 'Poppins Medium';
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}
.blog-section-2{
    display: flex;
    justify-content: space-between;
    margin: 83px 0px 51px 83px;
}
.article-title-1{
    width: 280px;
    height: 46px;
    padding-top: 14px;
    font-family:'Poppins Medium';
    font-size: 14px;
    line-height: 21px;
}
.article-text-1{
    width: 276px;
    height: 30px;
    padding-top: 14px;
    font-family: 'Poppins Medium';
    font-size: 10px;
    line-height: 15px;
}

.contact-section-1{
    height: 671px;
    width: 581px;
    margin: 65px 0px 195px 104px;
}
.contact-title{
    font-family:'Poppins Medium';
    font-size: 28px;
    margin-bottom: 15px;
}
.contact-title-2{
    font-family:'Poppins Medium';
    font-size: 18px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.72)
}
.contact-input-1{
    display: flex;
    margin-top: 24px;
    margin-bottom: 26px;
}
.margin-top{
    margin-top: 11px;
}
.input-top-1{
    padding: 12px 163px 12px 16px;
    border-radius: 6px;
}
.margin-left{
    margin-left: 53px;
}
.email{
    padding: 12px 570px 12px 16px;
    border-radius: 6px;;
}
.phone-num{
    margin-top: 26px;
    font-family: 'Poppins Medium';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.72);
}
.number{
    padding: 12px 570px 12px 16px;
    border-radius: 6px;
}
.poppins{
    font-family: 'Poppins Medium';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.72);
}
.input-message{
    width: 758px;
    height: 133px;
    margin-top: 11px;
    border-radius: 6px;;
}
.message{
    margin-top: 26px;
    font-family: 'Poppins Medium';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.72);   
    
}
.contact-button{
    width: 209px;
    height: 48px;
    padding: 11px 34px 10px 39px;
    margin: 25px 0px 0px 280px;
    color: #FFFFFF;
    background-color: #3F69FF;
    border-radius: 6px;
    border-color: #FFFFFF;
}
.display-flex{
    display: flex;
}
.map {
    width: 590px;
    height: 560px;
    margin-left: 252px;
    margin-top: 71px;
    margin-right: 66px;
}
